<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Admin Login
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>


<nav class="navbar">

    <div class="logo">
        OSL AppDev
    </div>

    <div class="nav-links">

        <a href="/">
            Website
        </a>

        <a href="/login">
            Customer Login
        </a>

    </div>

</nav>


<section class="auth-section">


    <div class="auth-container">


        <p class="small-heading">
            ADMIN PORTAL
        </p>


        <h1>
            Developer Login
        </h1>


        <p class="auth-intro">

            Log in to manage customer projects
            and communicate with clients.

        </p>


        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="flash-message">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        <form
            method="POST"
            class="auth-form"
        >


            <label>
                Email Address
            </label>


            <input
                type="email"
                name="email"
                required
            >


            <label>
                Password
            </label>


            <input
                type="password"
                name="password"
                required
            >


            <button
                type="submit"
                class="primary-button"
            >

                Log In

            </button>


        </form>


    </div>


</section>


</body>

</html>