<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Customer Login
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
    
</head>


<body>


<nav class="navbar">

    <div class="logo">
        AppDev
    </div>

    <div class="nav-links">

        <a href="/">
            Home
        </a>

        <a href="/register">
            Create Account
        </a>

    </div>

</nav>


<section class="auth-section">


    <div class="auth-container">


        <p class="small-heading">
            CUSTOMER PORTAL
        </p>


        <h1>
            Welcome Back
        </h1>


        <p class="auth-intro">

            Log in to view your projects and
            communicate with me.

        </p>


        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="flash-message">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}


        <form
            method="POST"
            class="auth-form"
        >


            <label>
                Email Address
            </label>


            <input
                type="email"
                name="email"
                required
            >


            <label>
                Password
            </label>


            <input
                type="password"
                name="password"
                id="password"
                required
            >
            <label style="display:flex; align-items:center; gap:8px; margin-top:10px;">
    <input
        type="checkbox"
        onclick="togglePassword('password')">
    Show Password
</label>


            <button
                type="submit"
                class="primary-button"
            >

                Log In

            </button>


        </form>


        <p class="auth-footer">

            Don't have an account?

            <a href="/register">
                Create one
            </a>

        </p>
        <p class="auth-footer">
        <a href="{{ url_for('forgot_password') }}">
    Forgot Password?
</a>
        </p>


    </div>


</section>

<script>
function togglePassword(id) {

    const password = document.getElementById(id);

    if (password.type === "password") {
        password.type = "text";
    } else {
        password.type = "password";
    }
}
</script>
</body>

</html>