<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Request Submitted</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>


<section class="contact-section">


    <div class="contact-content">


        <p class="small-heading">
            REQUEST RECEIVED
        </p>


        <h1>
            Thank You!
        </h1>


        <p>

            Your project request has been
            successfully submitted.

        </p>


        <p>

            I'll review your request and
            get back to you.

        </p>


        <br>


        <a
            href="/"
            class="primary-button"
        >

            Return Home

        </a>


    </div>


</section>


</body>

</html>